include LICENSE
include libutils.py
include MANIFEST.in
include GPLv3.txt
include src/sk1project.keys
include src/sk1project.mime
include src/vnd.sk1project.pdxf-graphics.xml

recursive-include debian *
recursive-include src/uc2/utils/streamfilter *.c
recursive-include src/uc2/formats/sk1/sk1objs *.c
recursive-include src/uc2/libcairo *.c
recursive-include src/uc2/libimg *.c
recursive-include src/uc2/cms *.c
