Package: python-uniconvertor
Version: <VERSION>
Architecture: <PLATFORM>
Installed-Size: <SIZE>
Maintainer: Igor Novikov <igor.e.novikov@gmail.com>
Depends: liblcms1, libmagickwand2, libcairo2, python (>=2.4), python (<<3.0), python-imaging, python-cairo
Section: python
Priority: extra
Description: Universal vector graphics translator
 .
 UniConvertor is a multiplatform universal vector graphics translator.
 It uses PDXF model to convert one format to another. 
 . 
 sK1 Team (http://sk1project.org), Copyright (C) 2007-2013 by Igor E. Novikov 
 .
 Supported input formats:  
 PDXF, CDR, CDT, CCX, CDRX, CMX, AI, PS, EPS, CGM, WMF, XFIG, SVG, SK, SK1, AFF, PLT, DXF, DST, PES, EXP, PCS
 .
 Supported output formats: 
 PDXF, AI, SVG, SK, SK1, CGM, WMF, PDF, PS, PLT
 .

